* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: fit-content;
  background: linear-gradient(to bottom, #cdf1ff, #ffb9b9);
}

.homepage-title {
  text-align: center;
}

#left-arrow {
  max-height: 50px;
  max-width: 50px;
  rotate: 90deg;
}

#right-arrow {
  max-height: 50px;
  max-width: 50px;
  rotate: 90deg;
}

.homepage-total {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80vw;
  margin: auto;

  &__number {
    margin: 30px 0;
  }

  &__buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}

.homepage-transactions {
  margin-top: 20px;
  &__transaction {
    margin-bottom: 5px;
  }
}

.logout {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: black;
  width: fit-content;
  margin: auto;

  &:hover {
    color: red;
  }
}
