* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100dvh;
  height: fit-content;
  background: linear-gradient(to bottom, #cdf1ff, #ffb9b9);
}

.loginpage {
  margin-top: 200px;

  &__title {
    text-align: center;
    margin-bottom: 50px;
  }

  &__links {
    display: flex;
    max-width: 250px;
    font-size: 14px;
    margin: auto;
    margin-top: 2px;
    text-decoration: none;
    color: black;

    &:hover {
      color: red;
    }
  }
}
