* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 80.5dvh;
  background: linear-gradient(to bottom, #cdf1ff, #ffb9b9);
}

.loginpage {
  margin-top: 200px;

  &__title {
    text-align: center;
    margin-bottom: 50px;
  }
}
